* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  nav {
    align-items: center;
    background-color: #333333;
    color: #c0c0c0;
    padding-top: 10px;
  }
  #main {
    width: 80%;
    margin: auto auto;
  }
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form {
    margin: auto auto;
    margin-bottom: 25px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px 10px;
  }
  
  #createBtn {
    margin: 0px 81px;
    padding: 5px 5px;
    border-radius: 5px;
  }
  #updateProductBut :hover {
    box-shadow: 0 8px 16px 0 red;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  #navbar a {
    color: grey;
    text-decoration: none;
  }
  
  #navbar a:hover {
    color: white;
    text-decoration: none;
  }
  .left-side {
    display: flex;
    justify-content: space-between;
  }
  .right-side {
    display: flex;
    justify-content: space-between;
  }
  .section-title {
    margin-right: 25px;
  }

  
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap");
  
  body {
    background-attachment: fixed;
    background-size: cover;
  }
  #container {
    box-shadow: 0 15px 30px 1px grey;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 550px;
    width: 900px;
  }

  .singleCard {
    width: 300px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    flex: 20%;
  }

  .singleCard img {
    width: 180px;
    height: 200px;
  }